.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  margin: 0.1rem 0;
}
.checkbox {
  width: 1.2rem;
  height: 1.2rem;
}
.text {
  flex: 1;
  margin-left: 0.4rem;
}
.button {
  cursor: pointer;
  font-size: 1.3rem;
}
.button:hover {
  animation: shake 300ms ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-15deg);
  }
  66% {
    transform: rotate(15deg);
  }
}
